* {
    box-sizing: border-box;
    margin: 0px;
    background-color: cadetblue;
}

.wrapper {
    margin-top: 10px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}